/** Created by Himu */

/* 我们使用自己编写的card，而非bs */
:root {
    --himu-card-link-cover-bg: #fff;
}

.himu-card {
    text-decoration: none;
    color: var(--bs-body-color);
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0 0 3px;
    border: 1px solid rgba(58, 59, 61, 0.2);
    background: var(--bs-body-bg) !important;

    transition: background-color linear .3s;
}

.himu-card:hover {
    color: var(--bs-body-color);;
}

.himu-card-dark {
    box-shadow: rgba(254, 253, 253, 0.2) 0 0 2px !important;
}

.himu-card-body {
    padding: 0;
    margin: 0;
}

.himu-card-link-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--bs-body-color);
    width: 100%;
    border-radius: 3px;
    padding: 5px 10px;

    transition: background-color .3s;
}

.himu-card-link-fluid:hover {
    color: var(--bs-primary);
    background-color: rgba(245, 241, 241, 0.50);
}

.himu-card-dark .himu-card-link-fluid:hover {
    background-color: rgba(58, 59, 61, 0.50);
}

.himu-card-link-fluid:after {
    float: right;
    content: url("../../images/right-link.png");
}
