.cookie-banner {
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bs-body-bg);
    padding: 0.5rem 2rem;
}

.cookie-banner p {
    padding: 0;
    margin: 0;
}

.cookie-banner u {
    color: var(--bs-primary);
}

@media screen and (max-width: 960px) {
    .cookie-banner {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        padding: 2rem;
        background: var(--bs-body-bg);
        width: 100%;
        opacity: 1 !important;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .cookie-banner button {
        margin-top: 10px;
        width: 100%;
    }
}
