.home-sidebar {
    width: 1px;
    padding: 10px 0;
    height: 100%;
    background: var(--bs-body-bg);

    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    color: var(--bs-secondary);
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10000;
    transition-delay: 200ms;
    transition: width ease-in .2s;
}

.sidebar-link {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    text-align: center;
    font-size: smaller;
    color: var(--bs-secondary);
    text-decoration: none;
    transition: background linear .2s;
}

.sidebar-link img {
    display: block;
    overflow: hidden;
}

.sidebar-link:hover {
    background: #f5f7f7;
    color: var(--bs-primary);
}

@media screen and (max-width: 1024px) {
    .home-sidebar {
        display: none;
    }
}

