

.main-box {
    width: 50%;
    position: relative;
    top: 200px;
    margin: auto;
    height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid rgba(58, 59, 61, 0.2);
    background: var(--bs-body-bg);
}

#url {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .main-box {
        width: 100%;
    }
}
